<header>
    <h1> <%= @user.name %> </h1>
    <h2><%= @user.about %></h2>
    <div class = "profile_img">
        <%= image_tag(@user.image) %>
    </div>
</header>



<div class = "spots">
    <h2>Spots</h2>
    <% if @user == current_user %>
        <%= link_to "Add New Spot", new_spot_path %>
    <% end %>
    <p><%= @spot %></p>
</div>

<div class = "destroy">
    <%= link_to("Destroy User", "/users/#{@user.id}", {method: 'delete', data: {confirm: "This one...really?"}}) %>
</div>