<!DOCTYPE html>
<html>
  <head>
    <title>MyLine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/partials/flash' %>
    <%= render '/partials/navbar' %>
    <% if @user && @user.id && current_page?(user_path(@user.id))  %>
      <div class="show-page-container container-fluid">
    <% else %>
      <div class = "container">
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>





  