<!DOCTYPE html>
<html>
  <head>
    <title>MyLine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/partials/flash' %>
    <% if logged_in? %>
      <%= link_to("Home", root_path)%>
      <%= link_to current_user.name, user_path(current_user.id) %>
      <%= link_to("Log Out", logout_path, {method: 'delete'}) %> 
      <%# link_to("New Spot", spot_new_path)%>
    <% else %>
      <%= link_to("Sign In", new_session_path) %>
      <%= link_to("Sign Up", new_user_path) %>
    <% end %>
    <div class = "container" >
      <%= yield %>
    </div>
  </body>
</html>



  